{:deps {}
 :paths ["src"]

 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps
   {org.clojure/test.check {:mvn/version "1.0.0"}
    com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.3.1"}
    criterium {:mvn/version "0.4.5"}}}}}

